<header class="flex-row w100">
    <style>
        header.flex-row {
            padding: 0.5rem 1rem;
            background-color: var(--dark);
            justify-content: space-between;
            color: var(--white);
            position: sticky;
            top: 0;
            z-index: 10;
            border-bottom: solid 0.1rem var(--black);
        }
        header .home img{
            height: 1.75rem;
            color: var(--light);
            transition: all 0.3s ease;
        }
        header .home img:hover{
            color: var(--white);
        }
        header .user {
            text-decoration: none;
            margin-right: 2rem;
            font-size: 1.25rem;
        }

        header .user .image {
            height: 3rem;
            aspect-ratio: 1/1;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 0.5rem;
        }

        header .user .image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        header .logout {
            color: var(--light);
            font-size: 1.1rem;
            transition: all 0.3s ease;
        }

        header .logout:hover {
            color: var(--white);
        }
    </style>
    <a href="/" class="flex-row home"><img src="../../public/res/UI/home.svg" alt=""></a>
    <div class="flex-row">
        <a href="/profile" class="user flex-row">
            <div class="flex-row"><div class="image">
                <img src="../../public/data/avatars/<%=user.avatar%>" alt="">
            </div>
            <div class="name">
                <%=user.username%>
            </div></div>
            
        </a>
        <button class="logout" onclick="logout(this)">Log out</button>
    </div>
   
    <script defer>
        async function logout() {
            await fetch('/logout', {
                method: 'POST'
            })
            window.location.href = '/'
        }
    </script>
</header>