<header class="flex-row w100">
    <style>
        header.flex-row {
            padding: 1rem;
            background-color: var(--darkgray);
            justify-content: space-between;
            border-bottom: solid 0.1rem var(--darkgray);
            color: var(--white);
            position: sticky;
            top: 0;
            z-index: 10;
        }

        header .user {
            text-decoration: none;
            margin-right: 2rem;
            font-size: 1.25rem;
        }

        header .user .image {
            height: 2rem;
            border-radius: 100%;
            border: solid 0.1rem var(--white);
            overflow: hidden;
            margin-right: 0.5rem;
        }

        header .user .image img {
            height: 100%;
        }

        header .logout {
            font-size: 1.1rem;
        }

        header .logout:hover {
            text-shadow: 0 0 0.1rem var(--white);
        }
        header .home img{
            height: 2rem;
        }
    </style>
    <a href="/" class="flex-row home"><img src="../../public/res/UI/home.svg" alt=""></a>
    <div class="flex-row">
        <a href="/profile" class="user flex-row">
            <div class="flex-row"><div class="image"><img src="../public/res/images/person.svg" alt=""></div>
            <div class="name">
                <%=user.username%>
            </div></div>
            
        </a>
        <button class="logout" onclick="logout(this)">Log out</button>
    </div>
   
    <script defer>
        async function logout() {
            await fetch('/logout', {
                method: 'POST'
            })
            window.location.href = '/'
        }
    </script>
</header>