<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romaneasca</title>
    <link rel="shortcut icon" href="../../public/res/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/styles/root.css">
    <link rel="stylesheet" href="../../public/styles/romaneasca.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="../../public/scripts/romaneasca.js" defer></script>
</head>
<body class="flex-column">
    <%-include('partials/header.ejs', {user})%>
    <%-include('partials/room-overlay.ejs', {user})%>
    <main>
        
    </main>
</body>
</html>