body{
    background-color: var(--black);
}
main{
    width: 100%;
    padding: 2rem 0;
}

.title{
    margin: 1rem 0;
    justify-content: center;
}
.title img{
    height: 12rem;
}
.title h1{
    font-size: 2.5rem;
    color: var(--white);
}
.container{
    width: min(95%, 40rem);
    padding: 1rem;
    color: var(--white);
}

.box{
    padding: 1rem;
    background-color: var(--dark);
    border-radius: 0.2rem;
    justify-content: space-between;
}
.box h2{
    text-align: center;
}
.box .header{
    justify-content: space-between;
    margin-bottom: 1rem;
}
.box .header .refresh-list img{
    height: 2rem;
}
.box form{
    justify-content:space-evenly;
    width: 100%;
}
.box form input{
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    flex-grow: 1;
    margin: 0 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: solid 0.1rem var(--gray);
}
.box form button{
    font-size: 1.25rem;
    border-radius: 0.25rem;
    width: 6rem;
    margin: 1rem 0;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--second);
}
.create-and-join{
    align-items: stretch;
}
.create-room{
    aspect-ratio: 5/3;
    flex-grow: 1;
    flex-basis: 0;
    margin: 1rem;
}

.join-room{
    aspect-ratio: 5/3;
    flex-grow: 1;
    flex-basis: 0;
    margin: 1rem;
}

.room-list{
    margin: 1rem;
    align-self: stretch;
}
.room-list .header{
    margin-bottom: 2rem;
}
.room-list .room.template{
    font-size: 1.25rem;
}
.room-list .refresh-list{
    height: 2rem;
    width: 2rem;
}
.room-list .room{
    border-bottom: solid 0.1rem var(--gray);
    margin-bottom: 0.5rem;
}
.room-list .room:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.room-list .room > *{
    height: 3rem;
    flex-basis: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.room .name{
    flex-grow: 10;
}
.room .owner{
    flex-grow: 8;
}
.room .player-count{
    flex-grow: 5;
}
.room .join{
    flex-grow: 5;
}
.room .join > button{
    background-color: var(--second);
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.5rem 0;
    
}
.refreshing{
    animation: refreshing ease 1s infinite;
}
.notifications{
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
    width: 15rem;
    height: 4rem;
}
.notification {
    background-color: var(--second);
    border-radius: 0.5rem;
    color: var(--white);
    padding: 0.5rem;
    justify-content: space-between;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    transition: all 0.5s ease;
    animation: jumpRight 0.5s ease;
}
.notification .message{
    width: 80%;
}
.notification .close{
    width: 20%;
    text-align: center;
    cursor: pointer;
}
@keyframes refreshing{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes jumpRight{
    0%{
        left: -10rem;
    }
    100%{
        left: 0;
    }
}