body.flex-column{
    /* background-image: linear-gradient(135deg, var(--darkgray), var(--black)); */
    background-color: var(--black);
    background-size: contain;
    min-height: 100vh;
    justify-content: flex-start;
}


main{
    width: 100%;
    padding: 1rem 2rem;
}
.game-list{
    width: 100%;
    border-radius: 1rem;
    justify-content: flex-start;
}

.game-box{
    height: 24rem;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0 2.5rem;
    padding-top: 3.5rem;
    transition: all 0.3s ease;
}
.game-box .deck{
    position: relative;
    height: 100%;
    aspect-ratio: 5/8;
}
.game-box .card{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    top:0;
    padding: 1rem;
    background-color: var(--white);
    color: var(--black);
    transition: all 0.4s ease;
}
.game-box .top{
    position: absolute;
    z-index: 3;
}
.deck:hover .top{
    top: -1rem;
    box-shadow: 0 0 1rem -0.5rem var(--gray);
}
.deck .top .image{
    width: 5rem;
    padding: 0 0rem;
}
.deck .top .image img{
    width: 100%;
}
.deck .top .title{
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
    width: 90%;
    border-radius: 0.25rem;
    background-color: var(--mainl);
    color: var(--white);
    padding: 0.5rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease;
}
.deck .top button{
    font-size: 1.25rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: var(--mainl);
    color: var(--white);
    padding: 0.5rem;
    font-weight: 400;
    transition: all 0.2s ease;
}
.deck .side{
    width: 95%;
    height: 95%;
    position: absolute;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.deck:hover .side{
    top:-1.5rem;
}
.deck .suit{
    width: 2rem;
}
.deck .side.left{
    z-index: 2;
    left: 0;
}
.deck:hover .side.left{
    transform: rotate(-20deg);
    left: -29%;
}
.deck .side.right{
    z-index: 1;
    right: 0;
}
.deck:hover .side.right{
    transform: rotate(20deg);
    right: -29%;
}