#waiting-screen {
    background-color: var(--black);
    position: absolute;
    z-index: 10;
    top: 4rem;
    min-height: calc(100vh - 4rem);
    width: 100%;
    padding: 2rem 0;
    color: var(--white);
}
#waiting-screen .players {
    flex-wrap: wrap;
    background-color: var(--dark);
    border-radius: 1rem;
}
#waiting-screen .player {
    margin: 1rem;
}
#waiting-screen .player .image {
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: solid 0.1rem var(--light);
    margin-right: 0.5rem;
}
#waiting-screen .player .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#waiting-screen .player .username {
    font-size: 1.25rem;
}
#waiting-screen .title {
    margin: 2rem 0;
    font-size: 2rem;
}
#waiting-screen .choose-team {
    width: min(40rem, 98%);
    padding: 0.5rem;
    border-radius: 1rem;
}
#waiting-screen .choose-team .team {
    box-sizing: border-box;
    margin: 0 2rem;
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    background-color: var(--dark);
    border: solid 0.4rem transparent; 
    min-height: 20rem;
}
#waiting-screen .choose-team .team:hover{
    background-color: var(--gray);
    cursor: pointer;
}
#waiting-screen .choose-team [team="0"]:hover{
    border-bottom: solid 0.4rem var(--redTeam); 
}
#waiting-screen .choose-team [team="1"]:hover{
    border-bottom: solid 0.4rem var(--blackTeam); 
}

#waiting-screen .choose-team .team .logo{
    width: 20%;
    margin-bottom: 0.5rem;
    aspect-ratio: 1/1;
}
#waiting-screen .choose-team .team .logo img{
    height: 100%;
}
#waiting-screen .choose-team .team .name{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#waiting-screen .choose-team .team .members{
    align-items: flex-start;
}
#waiting-screen .choose-team .team .member{
    justify-content: center;
    margin: 0.5rem;
}
#waiting-screen .choose-team .team .member .image{
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#waiting-screen .ready{
    width: min(40rem, 98%);
    padding: 0.5rem;
    justify-content: space-around;
}
/* PAUSE */
#pause-screen{
    display: none;
    position: absolute;
    top: 4rem;
    z-index:10;
    min-height: calc(100vh - 4rem);
    width: 100%;
    background-color:  hsla(175, 15%, 7%, 0.9);;
    color: var(--white);
    justify-content: center;
    user-select: none;
}
#pause-screen .container{
    width: min(98%, 40rem);
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--dark);
}
#pause-screen .title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#pause-screen .info{
    font-size: 1.15rem;
    margin-bottom: 2rem;
}
#pause-screen .seconds{
    color: var(--warning);
}
#pause-screen .players {
    flex-wrap: wrap;
    background-color: var(--dark);
    border-radius: 1rem;
}
#pause-screen .player {
    margin: 1rem;
}
#pause-screen .player .image {
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: solid 0.1rem var(--light);
    margin-right: 0.5rem;
}
#pause-screen .player .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#pause-screen .player .username {
    font-size: 1.25rem;
}

/*MAIN*/
main {
    width: 100%;
    color: var(--white);
}
main img {
    user-select: none;
    -webkit-user-drag: none
}
section.top {
    margin: 0.5rem 0;
    width: 100%;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: sticky;
    top:0;
    z-index: 8;
}
section.top > *{
    margin: 0 0.5rem;
}
section.top .timer{
    order: 2;
}
section.top .score{
    order: 3;
}
section.top .score .team{
    margin: 0.25rem;
}
section.top .score .image{
    height: 1.5em;
    width: 1.5rem;
    margin-right: 0.5rem;
}
section.top .score .value{
    font-size: 1.5rem;
}


section.center{
    padding: 0.5rem;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20rem;
}

aside .player {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 10rem;
    background-color: var(--black);
    width: 100%;
    justify-content: space-between;
    position: relative;;
}

aside .player .image.profile-picture {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
}
aside.left .cut{
    position: absolute;
    height: 2rem;
    right: -3rem;
}
aside.right .cut{
    position: absolute;
    height: 2rem;
    left: -3rem;
}
aside .player .image.team-logo {
    width: 2rem;
    height: 2rem;
}

aside .player .username {
    margin: 0 0.5rem;
}

aside.left {
    align-items: flex-end;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 0;
}

aside.right {
    align-items: flex-start;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 0;
}

.table {
    padding: 1rem;
    flex-grow: 3;
    flex-basis: 0;
}

.table .cards {
    justify-content: center;
}

.table .cards .card-slot {
    width: 1.5rem;
}

.table .card-slot .card {
    position: relative;
    top: 0;
    height: 10rem;
    aspect-ratio: 2/3;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.table .card-slot .card img {
    width: 100%;
}

.table .card-slot .card:hover {
    top: -2rem;
}

section.bottom {
    position: fixed;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    justify-content: space-between;
}
section.bottom .pixel{
    width: 10rem;
}
section.bottom .hand{
    position: relative;
    bottom: -5rem;
}
.hand .card-slot{
    margin: 0 0.5rem;
}
.hand .card-slot .card{
    position: relative;
    top: 0;
    height: 10rem;
    aspect-ratio: 2/3;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s ease;
}
.gray{
    filter: grayscale(1);
}
.hand .card-slot .card:hover{
    top: -2rem;
}

section.bottom .give-up{
    height: 5rem;
    cursor: pointer;
    align-self: flex-end;
    margin: 0.5rem;
    margin-right: 5%;
    filter: drop-shadow(var(--second) 0 0 1px);
    transition: all 0.2s ease;
}
section.bottom .give-up:hover{
    filter: drop-shadow(var(--second) 0 0 3px);
}
#ending-screen{
    display: none;
    position: absolute;
    top: 4rem;
    z-index:10;
    min-height: calc(100vh - 4rem);
    width: 100%;
    background-color:  hsla(175, 15%, 7%, 0.9);;
    color: var(--white);
    justify-content: center;
    user-select: none;
}

#ending-screen .container{
    width: min(30rem, 90%);
    aspect-ratio: 1/1;
    padding: 1rem;
    background-image: url('../res/images/pentagon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#ending-screen .winners{
    margin: 1rem 0;
    justify-content: space-evenly;
}
#ending-screen .winners .winner{
    margin: 1rem;
    position: relative;
    margin-top: 2rem;
}
#ending-screen .winners .winner .image{
    height: 3rem;
    aspect-ratio: 1/1;
    margin-right: 0.5rem;
}
#ending-screen .winners .winner .crown{
    position: absolute;
    width: 3rem;
    aspect-ratio: 1/1;
    top: -2rem;
    left: -1rem;
    transform: rotate(-27deg);
}
#ending-screen .winners .winner .dog{
    width: 5rem;
    aspect-ratio: 1/1;
    position: absolute;
    left: -1rem;
}
#ending-screen .title{
    margin: 2rem 0;
}
#ending-screen .title h1{
    margin: 0 0.5rem;
}
#ending-screen .title h1 .team{
    font-weight: 500;
}
#ending-screen .title .logo{
    width: 2rem;
}
#ending-screen .score{
    margin: 1rem 0;
}
#ending-screen .score [team]{
    font-size: 3rem;
}
#ending-screen .score [team="0"]{
    color: var(--redTeam);
}
#ending-screen .score [team="1"]{
    color: var(--blackTeam);
}
#ending-screen .score .dash{
    font-size: 3rem;
    margin: 0 0.25rem;
}
#ending-screen .timer{
    margin-top: 1rem;
    font-size: 1.25rem;
}
@media (orientation: portrait), (max-width: 600px){
    section.top{
        justify-content: center;
    }
}