:root {
    --main: hsl(175, 50%, 30%);
    --second: hsl(0, 75%, 50%);
    --mainl: hsl(175, 50%, 40%);
    --maind: hsl(175, 50%, 15%);
    --gray: hsl(175, 12%, 15%);
    --dark: hsl(175, 12%, 10%);
    --black: hsl(175, 12%, 7%);
    --light: hsl(175, 15%, 95%);
    --white: hsl(175, 15%, 98%);
    --danger: hsl(0, 71%, 48%);
    --warning: hsl(56, 88%, 51%);
    --good: var(--main);
    --info: hsl(240, 52%, 45%);
    --redTeam: hsl(0, 100%, 70%);
    --blackTeam: hsl(236, 9%, 35%);
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Exo';
    box-sizing: border-box;
    font-weight: 400;
}
html {
    font-size: 1rem;
}
button {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.image{
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fill-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.fit-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.hidden{
    display: none;
}
.topleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.bottomright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.bottomright .suit {
    transform: rotate(180deg);
}
.pixel{
    width: 1px;
    height: 1px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar{
    width: 1vw;
}
.scrollbar::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 0.25rem;
}
.scrollbar::-webkit-scrollbar-thumb:active{
    background-color: var(--maind);
}
.scrollbar::-webkit-scrollbar-track{
    background-color: var(--dark);
}

html::-webkit-scrollbar{
    width: 1vw;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 0.25rem;
}
html::-webkit-scrollbar-thumb:active{
    background-color: var(--maind);
}
html::-webkit-scrollbar-track{
    background-color: var(--dark);
}
.toggle-switch .slider{
    width: 3rem;
    aspect-ratio: 2/1;
    background-color: var(--black);
    border-radius: 10rem;
    padding: 0 0.25rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.toggle-switch input[type="checkbox"]{
    display: none;
}
.toggle-switch .slider::before{
    content: '';
    position: absolute;
    height: 110%;
    aspect-ratio: 1/1;
    border-radius: 10rem;
    background-color: var(--white);
    box-shadow: 0 0 0.05rem 0 var(--gray);
    left: -5%;
    transition: all 0.3s ease;
}
.toggle-switch input:checked + .slider{
    background-color: var(--mainl);
}
.toggle-switch input:checked + .slider.slider::before{
    left: 50%;
}

@media (orientation: portrait), (max-width: 1000px) {
    html {
        font-size: 0.65rem;
    }
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    src: url('../res/fonts/Exo2.0-Thin.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 200;
    src: url('../res/fonts/Exo2.0-ExtraLight.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: url('../res/fonts/Exo2.0-Light.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: url('../res/fonts/Exo2.0-Regular.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: url('../res/fonts/Exo2.0-Medium.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    src: url('../res/fonts/Exo2.0-SemiBold.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: url('../res/fonts/Exo2.0-Bold.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: url('../res/fonts/Exo2.0-ExtraBold.otf');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    src: url('../res/fonts/Exo2.0-Black.otf');
}