:root{
    /* --white: #fafafa;
    --lightgray: #dcdcdc;
    --gray:#303030;
    --darkgray: #242424;
    --black: #1e1e1e;
    --red: #ce1b1b;
    --darkred: #a01a1a;
    --lightred: rgb(245, 58, 58);
    --blue: rgb(40, 40, 160);
    --green: rgb(32, 122, 32); */

    --main: hsl(0, 75%, 50%);
    --second: hsl(157, 44%, 36%);
    
    --mainl: hsl(0, 75%, 60%);
    --maind: hsl(0, 75%, 40%);
    
    --gray: hsl(0, 5%, 15%);
    --dark: hsl(0, 10%, 10%);
    --black: hsl(0, 10%, 7%);
    --light: hsl(0, 75%, 92%);
    --white: hsl(0, 75%, 98%);

    --danger: rgb(197, 17, 17);
    --warning: rgb(240, 225, 21);
    --good: rgb(83, 168, 83);
    --info: rgb(55, 55, 173);
}

*{
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Exo';
    box-sizing: border-box;
    font-weight: inherit;
}
html{
    font-size: 1rem;
    font-weight: 400;
}
button{
    background-color: transparent;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.topleft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.bottomright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.bottomright .suit{
    transform: rotate(180deg);
}
@media (orientation: portrait){
    html{
        font-size: 0.75rem;
    }
}

@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    src: url('../res/fonts/Exo2.0-Thin.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 200;
    src: url('../res/fonts/Exo2.0-ExtraLight.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: url('../res/fonts/Exo2.0-Light.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: url('../res/fonts/Exo2.0-Regular.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: url('../res/fonts/Exo2.0-Medium.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    src: url('../res/fonts/Exo2.0-SemiBold.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: url('../res/fonts/Exo2.0-Bold.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: url('../res/fonts/Exo2.0-ExtraBold.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    src: url('../res/fonts/Exo2.0-Black.otf');
}
