 body{
    background-image: url('/public/res/images/background-pattern.png');
    background-size: contain;
    width: 100%;
    height: 100vh;
    position: relative;
}

button{
    background-color: white;
    padding: 1rem;
}